
<div id="visuals_background"> 
	<div id="nodeWindow1" class="node" >Window One</div>
	<div id="nodeWindow2" class="node" >Window Two</div>
	<div id="nodeWindow3" class="node" >Window Three</div>
</div>

<script src="/js/visuals.js"></script>
